{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="well form-well">
        <div class="col-xs-12 text-center" style="opacity: 1.0;">
            <i class="fa fa-bank fa-5x"></i>
        </div>

        <div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1" style="background: #f3f3f3;">
            <h1 style="font-size: 40px; margin: 20px;">Change Password</h1>

                <form method="post"><input type='hidden'/>
                {% csrf_token %}
        
                <fieldset class="module aligned wide">

                <div class="form-row">
                    <label for="id_old_password">Old password</label> <input id="id_old_password" name="old_password" type="password" />
                </div>

                <div class="form-row"> 
                    <label for="id_new_password1">New password</label> <input id="id_new_password1" name="new_password1" type="password" />   <p class="help"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></p>   
                </div>

                <div class="form-row">
                    <label for="id_new_password2">New password confirmation</label> <input id="id_new_password2" name="new_password2" type="password" />  
                </div>
                </fieldset>

                <br>
                <br>

                <div class="submit-row">
                    <input type="submit" value="Change my password" class="btn btn-lg btn-primary" />
                </div>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                </form>
        </div>
    </div>

{% endblock %}