<div class="x_panel">
    <div class="x_title">
        <h2> Portfolio </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table id="portfolio" class="table table-striped responsive-utilities jambo_table">
            <thead>
            <tr class="headings">
                <th>Company</th>
                <th>Symbol</th>
                <th>Sector</th>
                <th>Quantity</th>
                <th>Last Price</th>
                <th>Market Value</th>
            </tr>
            </thead>
            <tbody>
            <tr class="even pointer hide sample">
                <td class="company"></td>
                <td class="symbol"></td>
                <td class="sector"></td>
                <td class="quantity"></td>
                <td class="last_price"></td>
                <td class="market_value"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

