<script type="text/javascript" src="../static/js/spr/search.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<div class="right_col text-centered" role="main">
<div class="row tile_count">
    <div class="animated flipInY col-md-4 col-sm-4 col-xs-12 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Portfolio Value</span>
            <div class="count green" id="portfolio_value"></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>
    </div>
    <div class="animated flipInY col-md-4 col-sm-4 col-xs-12 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Portfolio Risk</span>
            <div class="count" id="portfolio_risk"></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>12% </i> From last Week</span>
        </div>
    </div>
    <div class="animated flipInY col-md-4 col-sm-4 col-xs-12 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Risk Rank</span>
            <div id="risk_rank" class="count"></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>2 </i> From last Week</span>
        </div>
    </div>
</div>
    <br>
        <div class="title_right">
            <div class="col-xs-10 col-xs-offset-1 form-group top_search">
                <div class="input-group">
                    <input type="text" id="search_entry" class="form-control" placeholder="Search Stock..">
                    <span class="input-group-btn">
                        <button class="btn btn-default" onclick="search()" id="stock_search">Go!</button>
                   </span>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        $("#search_entry").keyup(function(event){
            if(event.keyCode == 13){
                $("#stock_search").click();
            }
        });

        function parseStringToArray(string){
                string = string.substring(1,string.length-1)
                string = string.split(", ")
                for (i = 0; i<string.length; i++){
                    console.log(string[i])
                    string[i] =string[i].substring(7,string[i].length-7)
                }
                return string
            }

        $().ready(function() {
                        console.log("{{stock_tickers}}")
            var values = parseStringToArray("{{stock_tickers}}");
            console.log(values)
            $("#search_entry").autocomplete(values);
        });
    </script>

