<div class="row top_tiles">
<a href="#stableModal" id="stableTile" data-toggle="modal" data-target="#stableModal">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-line-chart"></i>
            </div>
            <div class="count">Stability</div>
            <h3>Risk Neutral Stocks</h3>
            <p>Add these stocks to your portfolio to minimize changes to your riskiness.</p>
        </div>
    </div>
</a>
<a href="#lowModal" id="lowTile" data-toggle="modal" data-target="#lowModal">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-asc"></i>
            </div>
            <div class="count">Relax</div>
            <h3>Lower Risk</h3>
            <p>Slow and steady wins the race.</p>
        </div>
    </div>
</a>
<a href="#diverseModal" id="diverseTile" data-toggle="modal" data-target="#diverseModal">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-users"></i>
            </div>
            <div class="count">Variety</div>

            <h3>Diversify Your Portfolio</h3>
            <p>A diverse stock portfolio protects you from market fluctuations in specific industries.</p>
        </div>
    </div>
</a>
<a href="#highModal" id="highTile" data-toggle="modal" data-target="#highModal">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-desc"></i>
            </div>
            <div class="count">Gamble</div>
            <h3>Get Risky</h3>
            <p>Feeling lucky? Add these to your portfolio.</p>
        </div>
    </div>
</a>
</div>
