<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-line-chart"></i>
            </div>
            <div class="count">0</div>
            <h3>Newest Stable Stocks</h3>
            <p>Add these stocks to your portfolio to minimize changes to your riskiness.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-asc"></i>
            </div>
            <div class="count">0</div>
            <h3>Lower Risk</h3>
            <p>Slow and steady wins the race.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-users"></i>
            </div>
            <div class="count">0</div>

            <h3>Diversify Your Portfolio</h3>
            <p>A diverse stock portfolio protects you from market fluctuations in specific industries.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-desc"></i>
            </div>
            <div class="count">0</div>
            <h3>Get Risky</h3>
            <p>Feeling lucky? Add these to your portfolio.</p>
        </div>
    </div>
</div>
