<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Your generated portfolio</h4>
    </div>
<div>

<ul class="list-group">
<li class="list-group-item"> <p> {{ message }} </p> </li>
{% for stock in portfolio %}
  <li class="list-group-item">{{ stock.name }}
      <span class="label label-danger label-pill pull-xs-right" style="float:right;">risk: {{ stock.risk }}</span>
      <span class="label label-info label-pill pull-xs-right" style="float:right;"> quantity: {{ stock.quantity }}</span>
      <span class="label label-success label-pill pull-xs-right" style="float:right;">price: {{ stock.price }}</span>
      <span class="label label-default label-pill pull-xs-right" style="float:right;">{{ stock.ticker }}</span>
      <p>Sector: {{ stock.sector }} </p>
  </li>
{% endfor %}
</ul>
</div>
<script>
$("#add-gen-portfolio").click(function(){
    var url_portfolio_list = "/api/portfolio/create/" + currentUser_id
    var portfolio_id
    $.ajax({
            url: url_portfolio_list,
            success: function (data) {
                portfolio_id = data.id;
                var form = {};
                form["symbols"] = {{symbols|safe}}
                form["quantities"] = {{quantities|safe}}
                form["name"] = "generated portfolio"
                form = JSON.stringify(form)
                $.ajax({
                       url : "/api/portfolio/"+ portfolio_id +"/modify_gen",
                       type: "post",
                       data : {
                           "data": form,
                       },
                       dataType: "json",
                       success: function(results){
                       }
                   })
                 refreshToPortfolio(portfolio_id)
                 $('#genPortfolio').modal('hide');
            },
            dataType: "json",
            async:false
        });
})
</script>
<form method="get" id="add-gen-form">
<button id="add-gen-portfolio" type="submit" class="col-xs-offset-1 col-xs-10 btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> Add Portfolio
</button>
</form>