{% extends "stockportfolio/index.html" %}
{% block portfolio %}

    <div class="modal fade" id="modifyPortfolio" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modify Portfolio</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <table id="portfolio-table" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                            <tr class="headings">
                                <th>Symbol</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tr class="even pointer hide clone">
                                <td id="inputTd">
                                    <input required type="text" id="symbol" placeholder="Enter symbol here" name="symbol"/>
                                </td>
                                <td id="quantityTd">
                                    <input required type="text" id="quantity" placeholder="Enter quantity here"/>
                                </td>
                            </tr>
                        </table>
                        <button id="add-row" class="btn btn-primary">Add Row</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        {%  if user.is_authenticated %}
        var $user = {{ user.pk }}
        var $url = "api/user/" + $user + "/getportfolio";
        raw_json = $.ajax({
            url:$url,
            success: function (data) {
                populate_table(data);
            }
        });

        function populate_table(data) {
            stocks = data.stocks;
            for(var i = 0; i < stocks.length; i++) {
                var stock = stocks[i];
                var $clone = $("#portfolio-table").find('tr.clone').clone(true).removeClass("hide").removeClass('clone')
                $clone.find("input#symbol").remove()
                $clone.find("#inputTd").text(stock.ticker)
                $clone.find("input#quantity").val(stock.quantity)
                $("#portfolio-table").append($clone)
            }
        }

        $("#add-row").click(function () {
            var $clone = $("#portfolio-table").find('tr.clone').clone(true).removeClass("hide").removeClass('clone')
            $("#portfolio-table").append($clone)
        });
        {% endif %}
e.preventDefault()

    </script>
{% endblock %}
