<div class="modal fade" id="modifyPortfolio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modify Portfolio</h4>
            </div>
            <div class="modal-body">
                <div id="modify-error" class="close alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> <span id="text"></span>
                    </div>
                <form id="modify-portfolio-form" action="" method="post">
                    <table id="portfolio-table" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                        <tr class="headings">
                            <th>Symbol</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tr class="even pointer hide clone">
                            <td id="inputTd">
                                <input form="modify-portfolio-form" required type="text" id="symbol"
                                       placeholder="Enter symbol here" name="symbol"/>
                            </td>
                            <td id="quantityTd">
                                <input form="modify-portfolio-form" required type="text" id="quantity"
                                       placeholder="Enter quantity here"/>
                            </td>
                            <td><a style="cursor:pointer;" href="#" id="delete-row"><i style="color:red;"
                                                                                       class="fa fa-2x fa-close"></i></a>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="stock-modify-count" name="stock_count" value="0">
                    <input type="hidden" id="csrf-token" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button id="add-row" class="btn btn-primary">Add Row</button>
                    <button id="save-button" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $("#modify-error").hide()
</script>