<div class="modal fade rec-modal" id="diverseModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Diversify Your Portfolio</h3>
      </div>
      <div class="modal-body" id="diverse-rec-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade rec-modal" id="highModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Get Risky</h3>
      </div>
      <div class="modal-body" id="high-rec-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade rec-modal" id="lowModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Lower Risk</h3>
      </div>
      <div class="modal-body" id="low-rec-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade rec-modal" id="stableModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Newest Stable Stock</h3>
      </div>
      <div class="modal-body" id="stable-rec-body">
      </div>
    </div>
  </div>
</div>
