    <div class="modal fade" id="stockInterfaceModal" tabindex="-1" role="dialog">


      <div class="modal-dialog">

        <div class="modal-content" style="width:1200px;  margin: 0 -280px;" >

          <div class="modal-header" style = "white-space: nowrap;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1 class="modal-title"><b>{{stock_name}}</b></h1>
          </div>

          <div class="modal-body">

            <div class="row">
              <div class="col-md-3">
                <h2 style = "font-size:26px"><b>Ticker:</b> {{stock_ticker}}</h2>
                <h2 style = "font-size:26px"><b>Sector:</b> {{stock_sector}}</h2>
              </div>
              <div class="col-md-3">
                <h2 style = "font-size:26px"><b>Sentiment:</b><div id = "sentiment"></div></h2>
              </div>
              <div class="col-md-5">
                <h2 style = "font-size:26px"><b>Current Value:</b> {{current_price}} $</h2>
                <form id="addStockQuantityModalForm" class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="addQuantity">Quantity</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="addQuantity" name="quantity" placeholder="Quantity">
                      <input type="hidden" id="addTicker" name="stock" value="{{ stock_ticker }}">
                      <input type="hidden" id="overwrite" name="overwrite" value="false">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success">Add to Portfolio</button>
                </form>
              </div>
            </div>

              <div class="row">
                  <div class="col-md-6">
                    <div class="dashboardaph x_panel" >
                      <div class="row x_title">
                          <div class="col-md-6">
                              <h3>Risk Variation (Today) </h3>
                          </div>
                      </div>
                      <div class="x_content">
                          <div class="demo-container" style="height:250px">
                              <div id="risk_graph" class="demo-placeholder" style="width: 100%; height:250px;"></div>
                          </div>
                      </div>
                      <span class="input-group-btn">
                          <button id = "week" onclick = "plotValues('risk_graph','rri_week')" class="btn btn-default" type="button">In a week </button>
                      </span>
                      <span class="input-group-btn">
                          <button id = "year" onclick = "plotValues('risk_graph','rri_month')"class="btn btn-default" type="button">In a month </button>
                      </span>
                    </div>

                    <div class="dashboardaph x_panel" >
                      <div class="row x_title">
                          <div class="col-md-6">
                              <h3>Stock Value Variation (Weekly) </h3>
                          </div>
                      </div>
                      <div class="x_content">
                          <div class="demo-container" style="height:250px">
                              <div id="value_graph" class="demo-placeholder" style="width: 100%; height:250px;"></div>
                          </div>
                      </div>
                      <span class="input-group-btn">
                          <button id = "week" onclick = "plotValues('value_graph', 'week')" class="btn btn-default" type="button">In a week </button>
                      </span>
                      <span class="input-group-btn">
                          <button id = "year" onclick = "plotValues('value_graph', 'month')"class="btn btn-default" type="button">In a month</button>
                      </span>
                      <span class="input-group-btn">
                          <button id = "all" onclick = "plotValues('value_graph', 'year')"class="btn btn-default" type="button">In a year
                          </button>
                      </span>
                    </div>

                  </div>

                  <div class="col-md-6">
                        <div class="panel panel-default">

                        <div class="panel-heading">
                        <span class="glyphicon glyphicon-list-alt"></span>
                          <b>News</b>
                        </div>

                        <div class="panel-body" style="height:750px;">
                            <ul id="menu">
                                {% for entry in stock_feeds %}
                                    <li class="news-item"><a href="{{entry.link}}">{{entry.title}}</a>
                                      <br></br>
                                    </li>
                                {%endfor%}
                            </ul>
                        </div>

                        <div class="panel-footer"></div>
                              <script type="text/javascript">
                                risk_history = {{ risk_history | safe }};
                                price_history = {{ price_history | safe }};
                                $(function () {
                                      var myElement = document.querySelector("#menu");
                                      myElement.style.listStyleType = "none";
                                      $("#menu").bootstrapNews({
                                          newsPerPage: 15,
                                          autoplay: false,

                                          onToDo: function () {
                                          }
                                      });
                                  });
                                  plotValues('value_graph', 'week')
                                  plotValues('risk_graph', 'rri_week')
                              </script>
                        </div>

                  </div>
        </div>
      </div>
    </div>
      </div>
    </div>

<script type="text/javascript">
  $(function() {
      $('#addStockQuantityModalForm').submit(function(e) {
          e.preventDefault();
          if ($.isNumeric($('#addQuantity').val())) {
            var args = $('#addStockQuantityModalForm').serialize();
            var url = '/api/portfolio/' + user_portfolio.portfolio_id + '/addstock?' + args;
            $.ajax({
              url: url,
              type: 'GET',
              success: function(data) {
                $('#stockInterfaceModal').modal('hide');
                refreshToPortfolio(user_portfolio.portfolio_id);

              },
              error: function(data) {
                console.log('failure');
              },
            });
          }
          else {
            console.log('failure')
          }
      });
  });
  $(function(){
      var sentiment_value = "{{sentiment_value}}"
      var enumerator = {'-1': 'red ', '1':'green'}
      if (parseInt(enumerator[sentiment_value]) > 0)
        document.getElementById("sentiment").innerHTML = "Bullish"
      else if (parseInt(enumerator[sentiment_value])== 0) 
        document.getElementById("sentiment").innerHTML = "Neutral"
      else
        document.getElementById("sentiment").innerHTML = "Bearish"

      color = enumerator[sentiment_value]

      document.getElementById("sentiment").style.color = color
  });
</script>
