<div class="modal fade rec-modal" id="diverseModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" id="diverseContent">
    </div>
    </div>
</div>
<div class="modal fade rec-modal" id="highModal" tabindex="-1" role="dialog">
 <div class="modal-dialog">
    <div class="modal-content" id="highContent">
    </div>
    </div>
</div>
<div class="modal fade rec-modal" id="lowModal" tabindex="-1" role="dialog">
 <div class="modal-dialog">
    <div class="modal-content" id="lowContent">
    </div>
    </div>
</div>
<div class="modal fade rec-modal" id="stableModal" tabindex="-1" role="dialog">
 <div class="modal-dialog">
    <div class="modal-content" id="stableContent">
    </div>
    </div>
</div>