<div class="modal fade rec-modal" id="topPortfolios" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title top_portfolio_header">Top Portfolios</h3>
      </div>
        <br>
      <div class="modal-body">
        <div class="text-center">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="0" autocomplete="off" checked>Most Risky</input>
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="1" autocomplete="off">Least Risky</input>
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="2" autocomplete="off">Most Valuable</input>
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="3" autocomplete="off">Least Valuable</input>
            </label>
          </div>
        </div>

        <br>

        <table id="top_portfolio" class="table table-striped responsive-utilities jambo_table">
            <thead>
            <tr class="headings">
                <th>#</th>
                <th>Name</th>
                <th>RRI</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr class="even pointer hide sample">
                <td class="rank"></td>
                <td class="name"></td>
                <td class="rri"></td>
                <td class="value"></td>
            </tr>
            </tbody>
        </table>
    </div>


  </div>
  </div>
</div>

