<!DOCTYPE html>
<html>
<!-- Based on the admin template at https://github.com/kimlabs/gentelella/ used 
     under the MIT license which is includedin it's original form in License.txt-->
<head>
    <title>SPRA | {{ user.get_username }}'s profile</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "fonts/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.min.js" %} "></script>
    <script src="{% static "js/chartjs/chart.min.js" %} "></script>
</head>
<body class="nav-md">
{% include "modal/modify_account.html" %}
<script>
        {% if user %}
            currentUser_id = {{user.pk}};
        {% else %}
            currentUser_id = null;
        {% endif %}
</script>
{% include "modal/modify_portfolio.html" %}

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-money"></i> <span>SPRA</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="{{ gravatar}}" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>{{ user.get_username }}</h2>

                        </div>
                    </div>

                        <br/>
                    
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    </div>
                </div>
            </div>
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ gravatar }}" alt="">{{ user.get_username }}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li>
                                        <a href="#modifyPortfolio" data-toggle="modal">
                                            <span>Modify Portfolio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#userAccountModal">    
                                        <span>Modify Account</span>
                                        </a>
                                    </li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
                {% include "dashboard/portfolio_stats.html" %}
                {% include "dashboard/portfolio_table.html" %} 
                {% include "dashboard/portfolio_graph.html" %}
                {% include "dashboard/portfolio_diversity.html" %}
                {% include "dashboard/portfolio_risk.html" %} 
            </div>
            </div>
        </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/portfolio_utils/portfolio_loader.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.pie.js"%}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.orderBars.js"%}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.time.min.js"%}"></script>
    <script type="text/javascript" src="{% static "js/flot/date.js"%}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.spline.js"%}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.stack.js"%}"></script>
    <script type="text/javascript" src="{% static "js/flot/curvedLines.js"%}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.resize.js"%}"></script>
    <script type="text/javascript" src="{% static "js/spr/portfolio_graph.js"%}"></script>
    <script type="text/javascript" src="{% static "js/spr/diversity_charts.js"%}"></script>
    <script type-"text/javascript" src="{% static "js/spr/spr.js" %} "></script>

</body>
</html>
